{% extends "base.html" %}

{% block body %}

<h2 class="mct">すべての治療院</h2>
{% for c in all_ave_list %}
  <div class="card　m-3">
    <h5 class="card-header">{{ c.1 }}</h5>
    <div class="card-body">
      <h6 class="card-title">治療院情報</h6>
      <ul class="list-group">
        <li class="list-group-item">{{ c.2 }}</li>
        <li class="list-group-item">{{ c.3 }}</li>
        <li class="list-group-item">{{ c.4 }}</li>
        <li class="list-group-item">{{ c.5 }}</li>
        <li class="list-group-item">{{ c.6 }}</li>
        <li class="list-group-item">{{ c.7 }}</li>
      </ul>
      <a href="{% url 'detail_clinic' c.0 %}" class="btn btn-info m-2">治療院の詳細へ</a>
    </div>
  </div>
  

{% endfor %}
<div class="text-center">
<a class="btn btn-info text-light" href="{% url 'new_clinic' %}">新しく治療院を登録する</a>
</div>

{% endblock %}