{% extends "base.html" %}

{% block body %}

<h2 class="mct">すべての治療院</h2>
{% for c in cli_rep_list %}
<div class="card mcb text-left mb-3 w-100 rounded">
    <div class="card-header"><a class="mct" href="/">{{ c.1 }}</a></div>
    <div class="card-body ">
      <p class="card-text">
      評価：{{ c.6 }}<br>
      代表者：{{ c.2 }}<br>
      住所：{{ c.3 }}<br>
      電話番号：{{ c.4 }}<br>
      HP：{{ c.5 }}<br>
      </p>
      <a class="btn mcb mct" href="/">詳しくみてみる</a>
    </div>
</div>
{% endfor %}
<div class="text-center">
<a class="btn btn-info text-light" href="{% url 'new_clinic' %}">新しく治療院を登録する</a>
</div>

{% endblock %}