{% extends "base.html" %}

{% block body %}

<div class="card mcb mb-4 w-100">
    <div class="card-header mct"><h2>{{ clinic.clinic_name }}の詳細な評価</h2></div>
    <div class="card-body ">
      <p class="card-text">
        <li class="list-group-item">{{ rep.condition }}</li>
        <li class="list-group-item">{{ rep.staff }}</li>
        <li class="list-group-item">{{ rep.ventilation }}</li>
        <li class="list-group-item">{{ rep.respect }}</li>
        <li class="list-group-item">{{ rep.growth }}</li>
        <li class="list-group-item">{{ rep.management }}</li>
        <li class="list-group-item">{{ rep.evaluation }}</li>
        <li class="list-group-item">{{ rep.compliance }}</li>
        <li class="list-group-item">{{ rep.reason }}</li>
        <li class="list-group-item">{{ rep.culture }}</li>
        <li class="list-group-item">{{ rep.reward_growth }}</li>
        <li class="list-group-item">{{ rep.supply }}</li>
        <li class="list-group-item">{{ rep.women_work }}</li>
        <li class="list-group-item">{{ rep.worklife }}</li>
        <li class="list-group-item">{{ rep.strength_weak }}</li>
        <li class="list-group-item">{{ rep.director }}</li>
      </p>
      <div class="text-center"><a class="btn mcb mb-2" href="{% url 'clinics:detail_clinic' clinic.id %}">治療院の詳細へ戻る</a></div>
    </div>
    
</div>

<a class="btn mc text-light mb-4" href="{% url 'clinics:all_clinics' %}">全ての治療院を見る</a>


{% endblock %}