{% extends "base.html" %}

{% block body %}
<h2>{{ d.clinic_name }}の詳細と評価</h2>
<div class="container">
    <div class="row">
        <canvas id="myRaderChart" class="col-xl-7 border mcb p-1 m-2" ></canvas>
        <div class="col-xl-4 border mcb m-2">
            <li class="list-group-item">代表者名：{{ d.directer_name }}</li>
            <li class="list-group-item">住所：{{ d.address }}</li>
            <li class="list-group-item">電話番号：{{ d.phone_num }}</li>
            <li class="list-group-item">営業時間（始）：{{ d.from_hour }}</li>
            <li class="list-group-item">営業時間（終）：{{ d.to_hour }}</li>
            <li class="list-group-item">休日：{{ d.holiday }}</li>
            <li class="list-group-item">治療内容：{{ d.treatment }}</li>
            <li class="list-group-item">HP：{{ d.homepage }}</li>
            <li class="list-group-item">最寄り駅：{{ d.station }}</li>
            <div class="text-center"><a href="{% url 'clinics:update_clinic' d.id %}" class="btn btn-outline-info mt-2 mb-2">治療院の内容を修正する</a></div> 
            <div class="text-center"><a href="{% url 'clinics:new_rep' d.id %}" class="btn btn-info mt-2 mb-2">治療院への評価を投稿する</a></div>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
{% for rep in relation_rep %}
<div class="card m-4 mcb mct col-xl-11 col-md-12">
    <h5 class="card-header">個別の治療院への評価</h5>
    <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
        <table class="table table-sm">
            <thead>
              <tr class="table-info">
                <th scope="col" style="width: 40%">項目</th>
                <th scope="col" style="width: 20%">評価</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">待遇面</th>
                <td>{{ rep.condition }}</td>
              </tr>
              <tr>
                <th scope="row">スタッフ間の仲の良さ</th>
                <td>{{ rep.staff }}</td>
              </tr>
              <tr>
                <th scope="row">風通しの良さ</th>
                <td>{{ rep.ventilation }}</td>
              </tr>
              <tr>
                <th scope="row">スタッフ同士の相互尊重</th>
                <td>{{ rep.respect }}</td>
              </tr>
              <tr>
                <th scope="row">成長環境</th>
                <td>{{ rep.growth }}</td>
              </tr>
              <tr>
                <th scope="row">経営状況</th>
                <td>{{ rep.management }}</td>
              </tr>
              <tr>
                <th scope="row">人事評価の適正さ</th>
                <td>{{ rep.evaluation }}</td>
              </tr>
              <tr>
                <th scope="row">法令順守</th>
                <td>{{ rep.compliance }}</td>
              </tr>
            </tbody>
          </table>
        <a href="{% url 'clinics:detail_rep' d.id rep.id %}" class="btn btn-info ">評価の詳細へ</a>
    </div>
</div>
{% endfor %}
</div>
</div>

<a href="{% url 'clinics:all_clinics' %}" class="btn btn-info">もどる</a>

<!-- CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
    var ctx = document.getElementById("myRaderChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar', 
        data: { 
            labels: ['待遇面','スタッフ間の仲の良さ','風通しの良さ','スタッフ同士の相互尊重','成長環境','経営状況','人事評価の適正さ','法令遵守'],
            datasets: [{
                label: '平均評価',
                data: {{ave}},
                backgroundColor: 'RGBA(137, 195, 235,0.6)',
                borderColor: '#89c3eb',
                borderWidth: 2,
                pointBackgroundColor: 'RGB(137, 195, 235)'
                
            }]},
        options : {
            scale: {
                ticks: {
                    min: 0,
                    max: 5,
                    stepSize: 1,
                    backdropColor: 'rgba(255, 255, 255, 0)',
                }}}
    });
    </script>

{% endblock %}