{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
  <div class="jumbotron col-xl-12 " style="background-color:#E5E5E5 ;">
    <h2 class="display-4">てあてびとって？</h2>
    <p class="lead">てあてびとは鍼師、灸師、マッサージ師のための治療院口コミサイトです!</p>
    <hr class="my-4">
    <p>患者さんからの評価ではなく、施術者から見た治療院への評価を知り、ステキな施術家ライフを送る手助けになりますように…</p>
    <a class="btn mcb mc text-light btn-lg" href="#" role="button">もっと詳しく !</a>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    {% for c in all_clinics %}
    <div class="card mcb mb-3 mr-3 col-xl-2">
      <div class="card-header h3">{{ c.clinic_name }}</div>
      <div class="card-body ">
        <p class="card-text">
          {{ c.directer_name }}<br>
          {{ c.address }}<br>
          {{ c.phone_num }}<br>
          {{ c.homepage }}<br>
      　　</p>
      <a class="btn mcb" href="{% url 'detail_clinic' c.id %}">治療院の詳細へ</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="text-center">
<a class="btn btn-lg mcb mc text-light mt-3 mb-3" href="{% url 'all_clinics' %}">全ての治療院を見る</a>
</div>
{% endblock content %}