<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <title>clinic-rep</title>
  </head>
  <body>
    <header class="mb-2">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-info mc">
        <div class="container">
          <a class="h1 text-light" href="/">てあてびと</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- この下の行に mr-auto クラスを付与するだけ -->
            <ul class="navbar-nav mr-auto">　
              <li class="nav-item"></li>
                <a class="nav-link text-light" href="{% url 'clinics:all_clinics' %}">全ての治療院を見る</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <form method="GET" action="{% url 'clinics:search_clinics' %}">
                <input type="text" name="keyword" value="{{request.GET.keyword}}" placeholder="治療院名をここに記載">
                <button type="submit" class="btn btn-primary m-2">検索</button>
              </form>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  プロフィール
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'accounts:profile' %}">プロフィールの詳細へ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
                </div>
              </li>
              {% else %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'login' %}">ログイン</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:signup' %}">アカウント作成</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="main container mb-5">
      {% block body %}
      {% endblock %}
    </div>

  <!-- Footer -->
  <footer class="bg-info fixed-bottom">
    <div class="footer-copyright text-center py-3 text-light">© 2020 Clinic-reputation
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </body>
</html>
