<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>clinic-rep</title>
  </head>
  <body>
    <header class="mb-2">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light bg-info mc">
        <div class="container">
          <a class="h1 text-light" href="/">てあてびと</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- この下の行に mr-auto クラスを付与するだけ -->
            <ul class="navbar-nav mr-auto">　
              <li class="nav-item"></li>
                <a class="nav-link text-light" href="{% url 'all_clinics' %}">全ての治療院を見る</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'logout' %}">ログアウト</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:profile' %}">プロフィール</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'login' %}">ログイン</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:signup' %}">アカウント作成</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="main container mb-5">
      {% block body %}
      {% endblock %}
    </div>

  <!-- Footer -->
  <footer class="bg-info fixed-bottom">
    <div class="footer-copyright text-center py-3 text-light">© 2020 Clinic-reputation
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </body>
</html>
