body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.main {
  flex: 1;
}

a:hover{
  text-decoration:none;
}

/*----main-color-relation----*/
.mc {
  background-color:#89c3eb;
}

.mcb{
  border-color: #89c3eb;
}

.mct{
  color:#89c3eb;
}

.textarea{
  width: 80%;
}
