{% extends "registration/base.html" %}

{% block content %}

    <table class="table borderless">
        <thead>
        <tr>
            <th scope="col" style="width: 15%">項目</th>
            <th scope="col" style="width: 60%">登録内容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">E-mail</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">誕生日</th>
            <td>{{ user.profile.birthday }}</td>
        </tr>
        <tr>
            <th scope="row">性別</th>
            <td>{{ user.profile.get_gender_display }}</td>
        </tr>
        <tr>
            <th scope="row">住所</th>
            <td>{{ user.profile.get_address_display }}</td>
        </tr>
        <tr>
            <th scope="row">キャリア</th>
            <td>{{ user.profile.career }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}