{% extends "registration/base.html" %}

{% block content %}

    <table class="table borderless">
        <tbody>
        <tr>
            <th scope="row">E-mail</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">誕生日</th>
            <td>{{ user.profile.birthday }}</td>
        </tr>
        <tr>
            <th scope="row">性別</th>
            <td>{{ user.profile.get_gender_display }}</td>
        </tr>
        <tr>
            <th scope="row">住所</th>
            <td>{{ user.profile.get_address_display }}</td>
        </tr>
        <tr>
            <th scope="row">キャリア</th>
            {{ user.profile.career }}
        </tr>
        </tbody>
    </table>

{% endblock %}